package ${packageName};

import ${table.EntityFullClassName};
import ${table.ServiceFullClassName};

import ${table.basePackageName}.bean.core.BussinessLog;
import ${table.basePackageName}.bean.constant.factory.PageFactory;
import ${table.basePackageName}.bean.dictmap.CommonDict;
import ${table.basePackageName}.bean.enumeration.BizExceptionEnum;
import ${table.basePackageName}.bean.exception.ApplicationException;
import ${table.basePackageName}.bean.vo.front.Rets;

import ${table.basePackageName}.utils.factory.Page;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

/**
 * @author GeneratorUtil
 * @version Id: ${table.ControllerClassName}.java, v0.1 13/02/2019 16:46 GeneratorUtil Exp $
 */
@RestController
@RequestMapping("${table.UriPrefix}")
public class ${table.ControllerClassName} {

	private static final Logger logger = LoggerFactory.getLogger(${table.ControllerClassName}.class);

	@Autowired
	private ${table.ServiceClassName} ${table.ServiceInstanceName};

	/**
     * 查询${table.Label}列表
	 *
	 * @return
	 */
    @GetMapping(value = "/list")
	public Object list() {
	Page<${table.EntityClassName}> page = new PageFactory<${table.EntityClassName}>().defaultPage();
		page = ${table.ServiceInstanceName}.queryPage(page);
		return Rets.success(page);
	}

	/**
	 * 新增或修改${table.Label}
	 *
	 * @param ${table.EntityInstanceName}
     * @return
	 */
    @PostMapping
	@BussinessLog(value = "新增或修改${table.Label}", key = "name", dict = CommonDict.class)
	public Object save(@RequestBody ${table.EntityClassName} ${table.EntityInstanceName}){
		if(${table.EntityInstanceName}.getId()==null){
			${table.ServiceInstanceName}.insert(${table.EntityInstanceName});
		}else {
			${table.ServiceInstanceName}.update(${table.EntityInstanceName});
		}
		return Rets.success();
	}

	/**
	 * 根据Id删除${table.Label}
	 *
	 * @param id
	 * @return
	 */
    @DeleteMapping
	@BussinessLog(value = "根据Id删除${table.Label}", key = "id", dict = CommonDict.class)
	public Object remove(Long id){
		if (id == null) {
			throw new ApplicationException(BizExceptionEnum.REQUEST_NULL);
		}
		${table.ServiceInstanceName}.delete(id);
		return Rets.success();
	}
}
